* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}
@page {
  width: landscape;
  height: landscape;
  margin: 0;
}
article {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
}
article.bespoke-parent {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
}
@media print {
  article.bespoke-parent {
    overflow: visible;
    position: static;
  }
}
article.bespoke-parent.green {
  background: #f1da4e;
}
article.bespoke-parent.white {
  background: #fff;
}
article.bespoke-parent.gulp {
  background: #eb4a4b;
}
article.bespoke-parent.jshint {
  background: #282927;
}
article.bespoke-parent.bower {
  background: #ffcc2f;
}
.bespoke-slide {
  -webkit-transition: -webkit-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -o-transition: -o-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -ms-transition: -ms-transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  margin-top: -240px;
  left: 50%;
  margin-left: -320px;
  background: transparent;
  padding: 40px;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 2;
}
@media print {
  .bespoke-slide {
    zoom: 1 !important;
    height: 743px;
    width: 100%;
    page-break-before: always;
    position: static;
    margin: 0;
  }
}
.bespoke-before {
  -webkit-transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
  -moz-transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
  -o-transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
  -ms-transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
  transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
}
.bespoke-after {
  -webkit-transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
  -moz-transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
  -o-transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
  -ms-transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
  transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
}
@media print {
  .bespoke-after {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.bespoke-inactive {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  pointer-events: none;
}
@media print {
  .bespoke-inactive {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.bespoke-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.bespoke-bullet {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bespoke-bullet-inactive {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
li.bespoke-bullet-inactive {
  -webkit-transform: translateX(-10px) translateZ(-10px) rotateY(20deg);
  -moz-transform: translateX(-10px) translateZ(-10px) rotateY(20deg);
  -o-transform: translateX(-10px) translateZ(-10px) rotateY(20deg);
  -ms-transform: translateX(-10px) translateZ(-10px) rotateY(20deg);
  transform: translateX(-10px) translateZ(-10px) rotateY(20deg);
}
@media print {
  .bespoke-bullet-inactive {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.bespoke-bullet-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.bespoke-scale-parent {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media print {
  .bespoke-scale-parent {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
}
.bespoke-progress-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
}
@media only screen and (min-width: 1366px) {
  .bespoke-progress-parent {
    height: 10px;
  }
}
@media print {
  .bespoke-progress-parent {
    display: none;
  }
}
.bespoke-progress-bar {
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  transition: width 0.6s ease;
  position: absolute;
  height: 100%;
  background: #ecce13;
}
.emphatic,
.emphatic .bespoke-slide {
  background: transparent;
}
pre {
  padding: 26px !important;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
pre span {
  text-shadow: none !important;
}
body {
  background: #313230;
  font-family: open sans, helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #f0f0f0;
}
body .gif {
  color: rgba(255,255,255,0.8);
}
body .bespoke-slide.light {
  color: rgba(0,0,0,0.5);
}
.jshint body {
  color: #f1da4e;
}
h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 82px;
  letter-spacing: -2px;
  margin-bottom: 16px;
}
h1.alt {
  font-family: 'Ubuntu';
}
h2 {
  font-weight: 300;
  font-size: 42px;
  letter-spacing: -1px;
  margin-bottom: 8px;
  color: #f0f0f0;
}
.bespoke-slide.light h2 {
  color: rgba(0,0,0,0.6);
}
.jshint h2 {
  color: #f1da4e;
}
.bower h2 {
  color: #282927;
}
h2.alt {
  font-family: 'Ubuntu';
}
h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 24px;
  color: #e0e0e0;
}
.bespoke-slide.light h3 {
  color: rgba(0,0,0,0.5);
}
.jshint h3 {
  color: #f1da4e;
}
.shadow {
  text-shadow: 1px 1px 1px #000;
}
hr {
  visibility: hidden;
  height: 20px;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 12px;
}
p {
  margin: 0 100px 12px;
  line-height: 22px;
}
blockquote {
  max-width: 75%;
}
small {
  font-size: 50%;
}
a {
  color: #f1da4e;
  text-decoration: none;
}
a.black {
  color: #000;
}
.bespoke-slide.light a {
  color: rgba(0,0,0,0.7);
}
.bespoke-slide.light h1 a {
  color: #f1da4e;
}
.avatar {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
}
.avatar--small {
  width: 70px;
  height: 70px;
}
.logo {
  background-position: center;
  background-repeat: no-repeat;
}
.logo--gulp {
  -webkit-background-size: 25%;
  -moz-background-size: 25%;
  background-size: 25%;
  background-image: url("../images/gulp.png");
}
.logo--jshint {
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  background-size: 50%;
  background-image: url("../images/jshint.png");
}
.logo--bower {
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  background-size: 50%;
  background-image: url("../images/bower.png");
}
.logo--grunt-flow {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  background-image: url("../images/grunt-flow.png");
}
.logo--gulp-flow {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  background-image: url("../images/gulp-flow.png");
}
.rocket {
  height: 150px;
  max-width: 150px;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
article:before {
  display: block;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
article:before {
  z-index: 1;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  margin-top: -5%;
  margin-left: -10%;
  -webkit-transform: scale(5.5);
  -moz-transform: scale(5.5);
  -o-transform: scale(5.5);
  -ms-transform: scale(5.5);
  transform: scale(5.5);
  -webkit-filter: blur(1px) brightness(1);
}
article.stream:before {
  background-image: url("../images/gif/stream.gif");
}
article.cry:before {
  background-image: url("../images/gif/cry.gif");
}
article.happy:before {
  background-image: url("../images/gif/happy.gif");
}
article.smile:before {
  background-image: url("../images/gif/smile.gif");
}
article.dance:before {
  background-image: url("../images/gif/dance.gif");
}
article.excited:before {
  background-image: url("../images/gif/excited.gif");
}
.gif {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gif--orchestrator {
  background-image: url("../images/gif/conductor.gif");
  -webkit-background-size: 160%;
  -moz-background-size: 160%;
  background-size: 160%;
  background-position: 50% -220px;
}
